#body
{
    background: #FFFFFF;
}

#page
{
    background: #FFFFFF;
    margin: 30px auto;
    height: 500px;
    width: 700px;
}

#logo
{
    height: 150px;
}

#authframe
{
    background: #377ef0;
    color: #000000;
    text-align: center;
    height: 350px;
    font-size: 20px;
}
