body
{
    background-image: url("../images/background_image.jpg");
}

#page
{
    /*background: #bee1ff;*/
    margin: 0px auto;
    height: 800px;
    width: 1334px;
    padding-top: 124px;
    font-family: Trebuchet MS, Arial, Times New Roman;
    font-size: 12px;
}

#header
{

}

#authframe
{
    /*background: rgb(78, 157, 226); */
    color: #ffffff;
    height: 200px;
    width: 400px;
    font-size: 20px;
    margin-left: 75px;
    /* margin-top: 0px; */
    border: solid 1px rgba(240, 240, 240, 0.55);
    border-radius: 5px;
    box-shadow: 0 3px 3px rgb(179, 178, 228);
    /* padding-top: 200px; */
    background-image: url(../images/menu2.jpg);
    background-repeat: round;

}

#column
{
    text-align: center;
    width: 276px;
    margin-left: 63px;
}

input[type="text"]
{
    width: 161px;
    height: 29px;
    border-radius: 5px;
    border: 2px solid rgba(255, 255, 255, 0.52);
    padding: 0 5px;
    float: left;
    margin-left: 0px;
}
input[type="password"]
{
    width: 276px;
    height: 29px;
    border-radius: 5px;
    border: 2px solid rgba(255, 255, 255, 0.52);
    padding: 0 5px;
    margin-top: 20px;
}
select{
    height: 29px;
    border-radius: 5px;
    border: 2px solid rgba(255, 255, 255, 0.52);
    float: right;
    margin-right: 0px;
    /* margin-left: 5px; */
}

input[type="submit"]
{
    width: 94px;
    height: 32px;
    float: right;
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.52);
    background: #60a3d8 linear-gradient(#89bbe2, #60a3d8 50%, #378bce);
    color: #ffffff;
    font-size: 19px;
    margin-top: -6px;
}

#footer
{

}
