* { margin: 0; padding: 0; }
p { padding: 10px; }
#left { position: absolute; left: 0; top: 0; width: 20%; }
#right { position: absolute; right: 0; top: 0; width: 80%; }
#wapper {
    border:1px solid black;
    overflow:hidden;
    height:100%;
    height:auto !important;

}
#icon_button
{
    vertical-align: middle;
    width: 30px; height: 30px;
}
#button
{
    color: black;
    font-size: 15pt;
    vertical-align: bottom;
    width: 60%;
    text-align: left;
}